In [1]:
import pandas as pd 
df = pd.read_csv("../data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [2]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [3]:
df_work = df.copy()

In [4]:
df_work.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
df_work = df_work.drop(columns=['customerID'])

In [17]:
from sklearn.model_selection import train_test_split
y = df_work['Churn']
X = df_work.drop(columns=['Churn'])
X_train, X_test, y_train, y_test = train_test_split(X, y ,stratify=y, test_size=0.2, random_state=42)

In [7]:
df_work['TotalCharges'] = pd.to_numeric(df_work['TotalCharges'], errors='coerce')

In [8]:
numerical_features = ['tenure', 
                      'MonthlyCharges', 
                      'TotalCharges']
binary_categorical_features = [
    'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'PhoneService',
 'PaperlessBilling']
multi_categorical_features = [
    'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaymentMethod']

In [30]:
categorical_features = binary_categorical_features + multi_categorical_features
categorical_features

['gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'PhoneService',
 'PaperlessBilling',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaymentMethod']

In [18]:
X_train['TotalCharges'].isna().sum()

np.int64(8)

In [19]:
X_test['TotalCharges'].isna().sum()

np.int64(3)

In [20]:
X_train[X_train['TotalCharges'].isna()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
6670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
4380,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
3826,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
6754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
3331,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

In [22]:
X_train[X_train['TotalCharges'].isna()].describe()

       SeniorCitizen  tenure  MonthlyCharges  TotalCharges
count            8.0     8.0        8.000000           0.0
mean             0.0     0.0       41.850000           NaN
std              0.0     0.0       21.391804           NaN
min              0.0     0.0       19.850000           NaN
25%              0.0     0.0       24.012500           NaN
50%              0.0     0.0       39.150000           NaN
75%              0.0     0.0       57.512500           NaN
max              0.0     0.0       73.350000           NaN

In [23]:
X_train[X_train['TotalCharges'].notna()].describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    5626.000000  5626.000000     5626.000000   5626.000000
mean        0.163526    32.531283       64.962780   2302.604266
std         0.369878    24.555624       30.137503   2279.173176
min         0.000000     1.000000       18.400000     18.850000
25%         0.000000     9.000000       35.750000    407.275000
50%         0.000000    29.000000       70.500000   1398.125000
75%         0.000000    56.000000       90.000000   3838.612500
max         1.000000    72.000000      118.750000   8684.800000

In [26]:
X_train.loc[X_train['TotalCharges'].isna(), 'Contract'].value_counts()

Contract
Two year    8
Name: count, dtype: int64

MAR (Missing At Random)

For customers with:

tenure = 0

There has been:

No billing cycle yet
â†’ So total charges are not defined

Median Imputation : Robust to skewness , Robust to outliers

In [28]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
imputer.fit_transform(X_train[['TotalCharges']])

array([[1701.65],
       [1151.55],
       [ 590.35],
       ...,
       [2660.2 ],
       [ 482.8 ],
       [ 109.3 ]], shape=(5634, 1))

In [34]:
X_train_encoded = pd.get_dummies(
    X_train,
    columns=categorical_features,
    drop_first=False
)

X_test_encoded = pd.get_dummies(
    X_test,
    columns=categorical_features,
    drop_first=False
)
X_train_encoded.shape, X_test_encoded.shape

((5634, 46), (1409, 46))

In [35]:
X_train_encoded, X_test_encoded = X_train_encoded.align(
    X_test_encoded,
    join='left',
    axis=1,
    fill_value=0
)

In [ ]:
# from sklearn.preprocessing import OneHotEncoder

# encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)

# X_train_cat = encoder.fit_transform(X_train[categorical_features])
# X_test_cat = encoder.transform(X_test[categorical_features])

In [36]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_num_scaled = scaler.fit_transform(
    X_train[numerical_features]
)
X_test_num_scaled = scaler.transform(
    X_test[numerical_features]
)

In [37]:
X_train_num_scaled = pd.DataFrame(
    X_train_num_scaled,
    columns=numerical_features,
    index=X_train.index
)
X_test_num_scaled = pd.DataFrame(
    X_test_num_scaled,
    columns=numerical_features,
    index=X_test.index
)

In [41]:
X_train_num_scaled.describe()

             tenure  MonthlyCharges  TotalCharges
count  5.634000e+03    5.634000e+03  5.626000e+03
mean  -1.008935e-17   -2.402527e-16  9.345923e-17
std    1.000089e+00    1.000089e+00  1.000089e+00
min   -1.322329e+00   -1.544028e+00 -1.002099e+00
25%   -9.559779e-01   -9.711977e-01 -8.316602e-01
50%   -1.418632e-01    1.848336e-01 -3.968806e-01
75%    9.164859e-01    8.319124e-01  6.739921e-01
max    1.608483e+00    1.785939e+00  2.800473e+00

In [44]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [45]:
numeric_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

categorical_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('encoder', OneHotEncoder(handle_unknown='ignore'))
])

In [46]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_pipeline, numerical_features),
        ('cat', categorical_pipeline, categorical_features)
    ]
)

In [47]:
X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

X_train_processed.shape, X_test_processed.shape

((5634, 46), (1409, 46))

In [49]:
feature_names = preprocessor.get_feature_names_out()
feature_names

array(['num__tenure', 'num__MonthlyCharges', 'num__TotalCharges',
       'cat__gender_Female', 'cat__gender_Male', 'cat__SeniorCitizen_0',
       'cat__SeniorCitizen_1', 'cat__Partner_No', 'cat__Partner_Yes',
       'cat__Dependents_No', 'cat__Dependents_Yes',
       'cat__PhoneService_No', 'cat__PhoneService_Yes',
       'cat__PaperlessBilling_No', 'cat__PaperlessBilling_Yes',
       'cat__MultipleLines_No', 'cat__MultipleLines_No phone service',
       'cat__MultipleLines_Yes', 'cat__InternetService_DSL',
       'cat__InternetService_Fiber optic', 'cat__InternetService_No',
       'cat__OnlineSecurity_No',
       'cat__OnlineSecurity_No internet service',
       'cat__OnlineSecurity_Yes', 'cat__OnlineBackup_No',
       'cat__OnlineBackup_No internet service', 'cat__OnlineBackup_Yes',
       'cat__DeviceProtection_No',
       'cat__DeviceProtection_No internet service',
       'cat__DeviceProtection_Yes', 'cat__TechSupport_No',
       'cat__TechSupport_No internet service', 'cat__TechSupport_Yes',
       'cat__StreamingTV_No', 'cat__StreamingTV_No internet service',
       'cat__StreamingTV_Yes', 'cat__StreamingMovies_No',
       'cat__StreamingMovies_No internet service',
       'cat__StreamingMovies_Yes', 'cat__Contract_Month-to-month',
       'cat__Contract_One year', 'cat__Contract_Two year',
       'cat__PaymentMethod_Bank transfer (automatic)',
       'cat__PaymentMethod_Credit card (automatic)',
       'cat__PaymentMethod_Electronic check',
       'cat__PaymentMethod_Mailed check'], dtype=object)

In [50]:
import pandas as pd

X_train_processed_df = pd.DataFrame(
    X_train_processed,
    columns=feature_names,
    index=X_train.index
)

X_test_processed_df = pd.DataFrame(
    X_test_processed,
    columns=feature_names,
    index=X_test.index
)

In [ ]:
from pathlib import Path

processed_path = Path("../data/processed")
processed_path.mkdir(parents=True, exist_ok=True)

In [52]:
X_train_processed_df.to_csv(processed_path / "X_train.csv", index=False)
X_test_processed_df.to_csv(processed_path / "X_test.csv", index=False)

In [53]:
y_train.to_csv(processed_path / "y_train.csv", index=False)
y_test.to_csv(processed_path / "y_test.csv", index=False)

In [54]:
import json

metadata = {
    "numerical_features": numerical_features,
    "categorical_features": categorical_features,
    "numerical_imputation": "median",
    "categorical_imputation": "most_frequent",
    "scaling": "StandardScaler",
    "encoding": "OneHotEncoder",
    "split": "80/20 stratified",
    "output_shape_train": X_train_processed_df.shape,
    "output_shape_test": X_test_processed_df.shape
}

with open(processed_path / "metadata.json", "w") as f:
    json.dump(metadata, f, indent=4)